
/* 
    Created on : Feb 17, 2017, 6:18:33 PM
    Author     : Jeffrey
*/
h1 {
    text-align: center;
    font-size: 45px;
    font-family: "Lucida Console";
}
h2{
    text-align: center;
    font-size: 30px;
    font-family: "Verdana";
}
h3{

}
h4{
    font-family: "Verdana";
    color: white;
}
body {
    margin: 0;
}
p{
    margin-left: 20px;
    text-align: left;
}
ul{
    padding-right: 30px;
    text-align: left;
    list-style-type: none;
    background-color: transparent;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
strong{
    color: dimgray;
}


/*Containers*/
#site{
    float: right;
    background-image: url("grass.jpg"); 
    height: auto;
    width: 85%;
    text-align: center;
}
#title{
    float: top; 
    background-color: transparent;
    width: available;
    /*text*/
    color: black;
    font-size: 25px;
}
#sub{
    clear: left;
    background-color: #f1f1f1;
    width: available;
    height: auto;
    border-style: solid;
    border-radius: 50px;
}
#content{
    width: available; 
    height: auto; 
    background-color: transparent;
}
#nav{
    float: left;
    background-color: wheat; 
    width: 15%; 
    height: 100%;
    border-style: solid;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: auto;
}
#block1, #block2, #block3{
    float: left;
    width: 99.6%;
    background-color: whitesmoke; 
    border-style: solid;
    border-radius: 50px;

}

#vid{
    border-radius: 100%;
    background-image: url("grass.jpg");
    border-style: solid;
    border-width: 15px;
}

#header{
    position: fixed;
    width: 100%;
    background-color: black;
    /*text*/
    color: white;
    text-align: center;
    font-family: "Lucida Console";
    font-size: 20px;
}
#system{
    height: 40px;
    width: 800px;
    margin-top: 10px;
    background-color: black;
    float: left;
    color: white;
    text-align: left;
    font-size: 15px;
}
#sys_time{
    float: left;
    height: 30px;
    width: 250px;
    margin-left: 10px;
    background-color: black;
}
#sys_temp{
    height: 30px;
    width: 100px;
    margin-left: 10px;
    background-color: black;
    float: left;
}
#sys_altitude{
    height: 30px;
    width: 100px;
    margin-left: 10px;
    background-color: black;
    float: left;
}
#sys_gps{
    height: 30px;
    width: 100px;
    margin-left: 10px;
    background-color: black;
    float: left;
}

#home, #home:visited {
    float:right;
    margin-right: 38%;
    background-color: #000000;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#home:hover, a:active {
    background-color: #555;
}
#footer{
    margin-top: 20px;
    float: left;
    width: 100%;
    height: fit-content;
    background-color: black;
    color: white;
    font-size: 15px;
}
